.tableList1 {
    font: 85% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
    color: #333;
    background: #F3F5F7;
}

.tableList1 a {
    color: #3A4856;
    text-decoration: none;
    border-bottom: 1px solid #C6C8CB;
}

.tableList1 a:visited {
    color: #777;
}

.tableList1 a:hover {
    color: #000;
}

.tableList1 caption {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 10px;
    font: 200% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
}

.tableList1 thead th {
    background: #3A4856;
    padding: 15px 10px;
    color: #fff;
    text-align: left;
    font-weight: normal;
}

.tableList1 tbody, .tableList1 thead {
    border-left: 1px solid #EAECEE;
    border-right: 1px solid #EAECEE;
}

.tableList1 tbody {
    border-bottom: 1px solid #EAECEE;
}

.tableList1 tbody td, .tableList1 tbody th {
    padding: 10px;
    background: url("../img/tablelist1_td_back.gif") repeat-x;
    text-align: left;
}

.tableList1 tbody tr {
    background: #F3F5F7;
}

.tableList1 tbody tr.odd {
    background: #F0F2F4;
}

.tableList1 tbody tr:hover {
    background: #EAECEE;
    color: #111;
}

.tableList1 tfoot td, .tableList1 tfoot th, .tableList1 tfoot tr {
    text-align: left;
    font: 120% "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    background: #fff;
    padding: 10px;
}

.tableList2 {
    font-family: "Tahoma", Verdana, Arial, Helvetica, sans-serif;
    font-size: 75%;
    border-collapse: collapse;
}

.tableList2 caption {
    font-family: Georgia, Times, serif;
    font-weight: normal;
    font-size: 1.4em;
    text-align: left;
    margin: 0;
    padding: 0.5em 0.25em;
}

.tableList2 thead tr {
    background-color: #D9FFD9;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tableList2 tfoot tr {
    background-color: #FFFFFF;
}

.tableList2 thead th {
    padding: 0.5em;
    white-space: nowrap;
}

.tableList2 tfoot th {
    font-size: 110%;
    text-align: right;
    padding-right: 0.5em;
    letter-spacing: 1px;
}

.tableList2 tfoot td {
    padding-left: 0.5em;
    color: red;
    font-size: 110%;
    font-weight: 600;
}

.tableList2 tfoot td:hover {
    background-color: red;
    color: white;
}

.tableList2 tfoot td.green {
    padding-left: 0.5em;
    color: green;
    font-size: 110%;
    font-weight: 600;
}

.tableList2 tfoot td.green:hover {
    background-color: green;
    color: white;
}

.tableList2 tfoot td.blue {
    padding-left: 0.5em;
    color: blue;
    font-size: 110%;
    font-weight: 600;
}

.tableList2 tfoot td.blue:hover {
    background-color: blue;
    color: white;
}

.tableList2 tr {
    background-color: #EAFDFF;
}

.tableList2 tr.selected {
    background-color: limegreen;
}

.tableList2 tr.odd {
    background-color: #FFFFFF;
}

.tableList2 tbody tr:hover {
    background-color: #FFCCCC;
}

.tableList2 td, th {
    border: 1px dotted #CCCCCC;
}

.tableList2 tbody td {
    padding: 0.5em;
}

.tableList2 td a:link, th a:link {
    color: black;
}

.tableList2 td a:visited, th a:visited {
    color: black;
    text-decoration: line-through;
}

.tableList2 td a:hover, th a:hover {
    color: purple;
    text-decoration: underline;
}

.tableList2 td:last-child a:hover {
    color: red;
    text-decoration: underline overline;
}

.tableList3 {
    font: normal 76%/150% "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    margin: 5px;
    color: #000;
}

.tableList3 a {
    color: #523A0B;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.tableList3 a:visited {
    color: #444;
    font-weight: normal;
}

.tableList3 a:visited:after {
    content: "\00A0\221A";
}

.tableList3 a:hover {
    border-bottom-style: solid;
}

.tableList3 thead th,
.tableList3 thead td,
.tableList3 tfoot th,
.tableList3 tfoot td {
    border: 1px solid #523A0B;
    border-width: 1px 0;
    background: #EBE5D9;
}

.tableList3 th {
    font-weight: bold;
    line-height: normal;
    padding: 0.25em 0.5em;
    text-align: left;
}

.tableList3 tbody th,
.tableList3 td {
    padding: 0.25em 0.5em;
    text-align: left;
    vertical-align: top;
}

.tableList3 tbody th {
    font-weight: normal;
    white-space: nowrap;
}

.tableList3 tbody th a:link,
.tableList3 tbody th a:visited {
    font-weight: bold;
}

.tableList3 tbody td,
.tableList3 tbody th {
    border: 1px solid #fff;
    border-width: 1px 0;
}

.tableList3 tbody tr.odd th,
.tableList3 tbody tr.odd td {
    border-color: #EBE5D9;
    background: #F7F4EE;
}

.tableList3 tbody tr:hover td,
.tableList3 tbody tr:hover th {
    background: #ffffee;
    border-color: #523A0B;
}

.tableList3 caption {
    font-family: Georgia, Times, serif;
    font-weight: normal;
    font-size: 1.4em;
    text-align: left;
    margin: 0;
    padding: 0.5em 0.25em;
}

.tableList4 {
    border-collapse: collapse;
    background: #EFF4FB url("../img/tablelist4_teaser.gif") repeat-x;
    border-left: 1px solid #686868;
    border-right: 1px solid #686868;
    font: 0.8em/145% 'Trebuchet MS', helvetica, arial, verdana;
    color: #333;
}

.tableList4 td, .tableList4 th {
    padding: 5px;
}

.tableList4 caption {
    padding: 0 0 .5em 0;
    text-align: left;
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    background: transparent;
}

/* =links
----------------------------------------------- */

.tableList4 a {
    color: #950000;
    text-decoration: none;
}

.tableList4 a:link {
}

.tableList4 a:visited {
    font-weight: normal;
    color: #666;
    text-decoration: line-through;
}

.tableList4 a:hover {
    border-bottom: 1px dashed #bbb;
}

/* =head =foot
----------------------------------------------- */

.tableList4 thead th, .tableList4 tfoot th, .tableList4 tfoot td {
    background: #333 url("../img/tablelist4_llsh.gif") repeat-x;
    color: #fff
}

.tableList4 tfoot td {
    text-align: right
}

/* =body
----------------------------------------------- */

.tableList4 tbody th, .tableList4 tbody td {
    border-bottom: dotted 1px #333;
}

.tableList4 tbody th {
    white-space: nowrap;
}

.tableList4 tbody th a {
    color: #333;
}

.tableList4 .odd {
}

.tableList4 tbody tr:hover {
    background: #fafafa
}

.table4 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}

.table4 thead th.rounded-company {
    background: #b9c9fe url('../img/table4left.png') left -1px no-repeat;
}

.table4 thead th.rounded-q4 {
    background: #b9c9fe url('../img/table4right.png') right -1px no-repeat;
}

.table4 th {
    padding: 8px;
    font-weight: normal;
    font-size: 13px;
    color: #039;
    background: #b9c9fe;
}

.table4 td {
    padding: 8px;
    background: #e8edff;
    border-top: 1px solid #fff;
    color: #669;
}

.table4 tfoot td.rounded-foot-left {
    background: #e8edff url('../img/table4botleft.png') left bottom no-repeat;
}

.table4 tfoot td.rounded-foot-right {
    background: #e8edff url('../img/table4botright.png') right bottom no-repeat;
}

.table4 tbody tr:hover td {
    background: #d0dafd;
}

.table1 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 5px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #69c;
}

.table1 th {
    padding: 15px 10px 10px 10px;
    font-weight: normal;
    font-size: 14px;
    color: #039;
}

.table1 tbody {
    background: #e8edff;
}

.table1 td {
    padding: 10px;
    color: #669;
    border-top: 1px dashed #fff;
}

.table1 tbody tr:hover td {
    color: #339;
    background: #d0dafd;
}

.table2 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin: 45px;
    width: 480px;
    text-align: center;
    border-collapse: collapse;
    border-top: 7px solid #9baff1;
    border-bottom: 7px solid #9baff1;
}

.table2 th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #e8edff;
    border-right: 1px solid #9baff1;
    border-left: 1px solid #9baff1;
    color: #039;
}

.table2 td {
    padding: 8px;
    background: #e8edff;
    border-right: 1px solid #aabcfe;
    border-left: 1px solid #aabcfe;
    color: #669;
}

.table3 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    margin: 45px;
    width: 80%;
    text-align: left;
    border-collapse: collapse;
}

.table3 th {
    font-size: 15px;
    font-weight: normal;
    padding: 8px;
    background: #b9c9fe url("../img/table3head.png") repeat-x;
    border-top: 2px solid #d3ddff;
    border-bottom: 1px solid #fff;
    color: #039;
}

.table3 td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid #fff;
    background: #e8edff url('../img/table3back.png') repeat-x;
}

.table3 tr td {
    background: #e8edff;
    font-size: 14px;
    color: #99c;
}

.table3 tbody tr:hover td {
    background: #d0dafd url('../img/table3hover.png') repeat-x;
    color: #339;
}